<?php
$host = 'localhost';
$usuario = 'root';
$senha = '';
$banco_de_dados = 'blog';

$mysqli = new mysqli($host, $usuario, $senha, $banco_de_dados);
$mysqli->set_charset('utf8mb4');

if ($mysqli->connect_error) {
    die('Erro de conexão: ' . $mysqli->connect_error);
}
